@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300&display=swap');
$font-permanent-marker: 'Permanent Marker', cursive;
$font-poppins: 'Poppins', sans-serif;
$color-blue: #2E86C1;
$color-gren: #D4EFDF;